# This is a sample configuration file
# Comments start with '#'

# don't change username param
username=`whoami`

# this is the path that the installer will be installed
scriptsPath="/home/${username}/app/scripts"

# this is the path that the app will be installed
appPath="/home/${username}/app"
localPath = "/home/${username}/app/localvolume"
wwwPath = "/home/${username}/app/localvolume/www"
appGitUrl="https://github.com/github_username/github_project_id"
appGitUser="git"
appBranch=master
dockerWwwPath="/var/www/html/www"

# do you use those in your app? (1-yes, 0-no)
laravel=1
laravelVoyager=1
composer=1
npm=1

# don't change this
dockerArtisanPath="${dockerWwwPath}/artisan"