# This is a sample configuration file
# Comments start with '#'

# don't change username param
username=$1

#root folder
mainFolder="/home/${username}/app"

# this is the path that the installer will be installed
scriptsPath="${mainFolder}/scripts"

localvolumePath="${mainFolder}/localvolume"

# this is the path where database data will be stored
logsPath="${localvolumePath}/logs"
nginxPath="${localvolumePath}/nginx"
postgresqlPath="${localvolumePath}/postgresql"
wwwPath="${localvolumePath}/www"  

# this is the path that the app will be installed
appGitUrl='github.com:ze-it/scania-sent.git'
appGitUser="git"
gitAccess="${appGitUser}@${appGitUrl}"
appBranch=master
envFile=".env.prod"

# do you use those in your app? (1-yes, 0-no)
postgresql=1
sqlsrv=1
laravel=1
laravelVoyager=0
composer=1
npm=1
passport=1

# don't change this
dockerWwwPath="/var/www/html/www"
dockerArtisanPath="${dockerWwwPath}/artisan"