# This is a sample configuration file
# Comments start with '#'

# don't change username param
username=`whoami`

#root folder
mainFolder="/home/${username}/app"

# this is the path that the installer will be installed
scriptsPath="${mainFolder}/scripts"

# this is the path that the app will be installed
codePath="${mainFolder}/code"
wwwPath="${codePath}/www"
appGitUrl='github.com:ze-it/scania-sent.git'
appGitUser="git"
gitAccess="${appGitUser}@${appGitUrl}"
appBranch=master

# do you use those in your app? (1-yes, 0-no)
laravel=1
laravelVoyager=1
composer=1
npm=1

# don't change this
dockerWwwPath="/var/www/html/www"
dockerArtisanPath="${dockerWwwPath}/artisan"